.root {
  height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.uploader {
  text-align: center;

  &__title {
    margin-bottom: 20px;
  }
  &__inputFile {
    display: none;
  }
  &__dropZone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 3px dashed blue;
    border-radius: 20px;
    filter: drop-shadow(-1px 1px 3px rgb(13, 10, 222));

    &_title {
      text-align: center;
      line-height: 1.7;
    }
  }
}
.previewFilesContainer {
  .previewIco {
    width: 100px;
    padding: 10px;
    margin: 10px;
  }
}
